RPC_URL=http://127.0.0.1:8545
EXCHANGE_ADDRESS=
CASH_ADDRESS=
PROD1_ADDRESS=
PROD2_ADDRESS=
PROD3_ADDRESS=
PROD4_ADDRESS=
PROD5_ADDRESS=
INITIAL_BASE_BALANCE=1000
TRADERS_FILE=traders.json
PORT=3001
DURATION=300
BOT_NOISE_PK=
BOT_SHOCK_PK=
BOT_TREND_PK=
BOT_CONSERVATIVE_PK=
BOT_MOMENTUM_PK=
BOT_MEAN_REVERSION_PK=
